@model List<CosmeticsShop.Models.OrderDetail>
@{
    ViewBag.Title = "Đơn đặt hàng: " + Request.Params["ID"];
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Chi tiết đơn đặt hàng: @Request.Params["ID"]</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td><img src="~/Content/images/@item.ProductImage" alt="Alternate Text" style="width:50px;height:80px" /></td>
                                    <td>@item.ProductPrice</td>
                                    <td>@item.Quantity</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    Không có sản phẩm nào...
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (!ViewBag.IsProcessed)
                {
                    <a href="/OrderManage/Processed/@Request.Params["ID"]" class="btn btn-primary float-right">Duyệt</a>
                }
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
